/* Mac-specific adjustments */
.is-mac .carousel {
}

/* Mobile */
@media screen and (max-width: 767px) {
  .mobile-viewport {
    width: 100vw !important;
    height: 100vh !important;
  }

  .is-mac .store-button {
    margin-top: 5vh !important;
  }
  
  .is-mac .carousel {
    transform: scale(0.9) !important;
    margin-top: 3vh !important;
  }
}

/* All other screen sizes use consistent viewport-relative scaling */
@media screen and (min-width: 768px) {
  .mobile-viewport {
    width: min(85vw, 500px) !important;
    transform: scale(0.9) !important;
    height: 950px !important;
  }
  
  .is-mac .carousel {
    transform: scale(0.7) !important;
    margin-top: -5vh !important;
  }
  
  .is-mac .store-button {
    margin-top: 8vh !important;
  }
}